echo ".terraform/" > .gitignore
echo ".terraform.lock.hcl" >> .gitignore
echo "*.tfstate" >> .gitignore
echo "*.tfstate.backup" >> .gitignore
echo "*.tfvars" >> .gitignore
echo "*.zip" >> .gitignore
echo "*.exe" >> .gitignore
